#header {
    font-weight: bold;
  }
  
  /* Links */
  
  a, a:hover {
    color: blue;
  }
  
  .button.is-primary,
  .button.is-primary:hover,
  .button.is-primary:active {
    background-color: blue
  }
